<h1>Dashboard do Dono de Buffet</h1>

<%= link_to 'Cadastre um tipo de evento', new_event_path %>

<p>Nome Fantasia: <%= @buffet.trading_name %></p>
<p>Razão Social: <%= @buffet.company_name %></p>
<p>CNPJ: <%= @buffet.registration_number %></p>
<p>Telefone: <%= @buffet.phone %></p>
<p>E-mail: <%= @buffet.email %></p>
<p>Endereço: <%= @buffet.address %></p>
<p>Bairro: <%= @buffet.neighborhood %></p>
<p>Estado: <%= @buffet.state %></p>
<p>Cidade: <%= @buffet.city %></p>
<p>CEP: <%= @buffet.zipcode %></p>
<p>Descrição: <%= @buffet.description %></p>

<p>
  Métodos de pagamento aceitos:
  <% @buffet_payment_methods.each do |method| %>
    <%= method.name %>
  <% end %>
</p>

<%= link_to 'Editar', edit_buffet_path(@buffet.id) %>

<h3>Tipos de Eventos disponíveis no seu Buffet</h3>

<div>
  <% @events.each do |event| %>
    <p>Nome do Evento: <%= event.name %></p>
    <p>Descrição: <%= event.description %></p>
    <p>Quantidade mínima de pessoas: <%= event.qty_min %></p>
    <p>Quantidade máxima de pessoas: <%= event.qty_max %></p>
    <p>Duração Padrão: <%= event.duration %>(min)</p>
    <p>Cardápio: <%= event.menu %></p>

    <h4>Opções Extras do Serviço:</h4>
    <% event.service_option.each do |option| %>
      <p><%= option.name %></p>
    <% end %> 
  <% end %>  
</div>
