<h1 class="text-darker-gray">Dashboard do Dono de Buffet</h1>

<div class="container mt-5">
  <div class="row">
    <hr class="mb-5">
    <div class="col">
      <h3 class="text-darker-gray">DETALHES DO BUFFET</h3>
      <p><strong class="text-darker-gray">Nome Fantasia: </strong><%= @buffet.trading_name %></p>
      <p><strong class="text-darker-gray">Razão Social: </strong><%= @buffet.company_name %></p>
      <p><strong class="text-darker-gray">Descrição: </strong><%= @buffet.description %></p>
      <p><strong class="text-darker-gray">CNPJ: </strong><%= @buffet.registration_number %></p>
    </div>

    <div class="col">
      <h3 class="text-darker-gray">DADOS DE CONTATO</h3>
      <p><strong class="text-darker-gray">Telefone: </strong><%= @buffet.phone %></p>
      <p><strong class="text-darker-gray">E-mail: </strong><span class="fw-light text-darker-gray"><%= @buffet.email %></span></p>    
    </div>

    <div class="col">
      <h3 class="text-darker-gray">ENDEREÇO COMPLETO</h3>
      <p><strong class="text-darker-gray">Endereço: </strong><%= @buffet.address %></p>
      <p><strong class="text-darker-gray">Bairro: </strong><%= @buffet.neighborhood %></p>
      <p><strong class="text-darker-gray">Estado: </strong><%= @buffet.state %></p>
      <p><strong class="text-darker-gray">Cidade: </strong><%= @buffet.city %></p>
      <p><strong class="text-darker-gray">CEP: </strong><%= @buffet.zipcode %></p>    
    </div>    
  </div>

  <div class="col">
    <hr class="mb-5">
    <p>
      <h3 class="text-darker-gray">MÉTODOS DE PAGAMENTO ACEITOS</h3>
      <% @buffet_payment_methods.each do |method| %>
        <%= method.name %>
      <% end %>
    </p>    
  </div>  
</div>

<h3 class="text-darker-gray">Tipos de Eventos disponíveis no seu Buffet</h3>

<div class="container mb-5 mt-5">
  <div class="row row-cols-3">
    <% if @events.present? %>
      <% @events.each do |event| %>
        <div class="card me-3 mb-3" style="width: 22rem;height: 28rem;">
          <%= image_tag "gourmet-table-white-dish-catering.jpg", class: "card-img-top", alt: "Buffet" %>
          <div class="card-body">
            <%= link_to "#{event.name}", event_path(event.id), class: "link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
            <hr>
            <p class="card-text"><%= event.description.length > 90 ? "#{event.description.slice(0, 90)}..." : event.description %></p>

            <% if !event.base_prices.present? %>
              <div class="alert alert-warning d-flex align-items-center" style="height: 40px;" role="alert">
                <svg class="me-2" style="width: 20px; height: 20px;" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                  <span class="fw-light">Cadastro de preço base pendente</span>
                </div>
              </div> 
            <% end %>

          </div>
        </div>
      <% end %>
    <% else %>
      <p class="mt-5 mb-5">Nenhum evento cadastrado.</p>      
    <% end %>  
  </div>
</div>
