<h1 class="text-darker-gray">Dashboard do Dono de Buffet</h1>

<div class="container mt-5">
  <div class="row">
    <hr class="mb-5">
    <div class="col">
      <h3 class="text-darker-gray">DETALHES DO BUFFET</h3>
      <p><strong class="text-darker-gray">Nome Fantasia: </strong><%= @buffet.trading_name %></p>
      <p><strong class="text-darker-gray">Razão Social: </strong><%= @buffet.company_name %></p>
      <p><strong class="text-darker-gray">Descrição: </strong><%= @buffet.description %></p>
      <p><strong class="text-darker-gray">CNPJ: </strong><%= @buffet.registration_number %></p>
    </div>

    <div class="col">
      <h3 class="text-darker-gray">DADOS DE CONTATO</h3>
      <p><strong class="text-darker-gray">Telefone: </strong><%= @buffet.phone %></p>
      <p><strong class="text-darker-gray">E-mail: </strong><span class="fw-light text-darker-gray"><%= @buffet.email %></span></p>    
    </div>

    <div class="col">
      <h3 class="text-darker-gray">ENDEREÇO COMPLETO</h3>
      <p><strong class="text-darker-gray">Endereço: </strong><%= @buffet.address %></p>
      <p><strong class="text-darker-gray">Bairro: </strong><%= @buffet.neighborhood %></p>
      <p><strong class="text-darker-gray">Estado: </strong><%= @buffet.state %></p>
      <p><strong class="text-darker-gray">Cidade: </strong><%= @buffet.city %></p>
      <p><strong class="text-darker-gray">CEP: </strong><%= @buffet.zipcode %></p>    
    </div>    
  </div>

  <div class="col">
    <hr class="mb-5">
    <p>
      <h3 class="text-darker-gray">MÉTODOS DE PAGAMENTO ACEITOS</h3>
      <% @buffet_payment_methods.each do |method| %>
        <%= method.name %>
      <% end %>
    </p>    
  </div>  
</div>

<h3>Tipos de Eventos disponíveis no seu Buffet</h3>

<div>
  <% if @events.present? %>
    <% @events.each do |event| %>
      <%= link_to "#{event.name}", event_path(event.id) %>
      <p>Descrição: <%= event.description %></p>
      <hr>
    <% end %>
  <% else %>
    <p class="mt-5 mb-5">Nenhum evento cadastrado.</p>      
  <% end %>  
</div>
