<h1>Dashboard do Dono de Buffet</h1>

<p>Nome Fantasia: <%= @buffet.trading_name %></p>
<p>Razão Social: <%= @buffet.company_name %></p>
<p>CNPJ: <%= @buffet.registration_number %></p>
<p>Telefone: <%= @buffet.phone %></p>
<p>E-mail: <%= @buffet.email %></p>
<p>Endereço: <%= @buffet.address %></p>
<p>Bairro: <%= @buffet.neighborhood %></p>
<p>Estado: <%= @buffet.state %></p>
<p>Cidade: <%= @buffet.city %></p>
<p>CEP: <%= @buffet.zipcode %></p>
<p>Descrição: <%= @buffet.description %></p>

<p>
  Métodos de pagamento aceitos:
  <% @buffet_payment_methods.each do |method| %>
    <%= method.name %>
  <% end %>
</p>