<h1>Resultado da Pesquisa por: '<%= @query %>'</h1>

<%  if @buffets.present? %>
  <p><%= t(:found, count: @buffets_count) %> <%= @buffets_count %> <%= Buffet.model_name.human(count: @buffets_count).downcase %> </p>
<% else %>
  <p>Nenhum Buffet encontrado!</p>
<% end %>

<div class="container text-center mt-5 d-flex justify-content-center" style="width: 70%;">
  <div class="row">
    <% @buffets.each do |buffet| %>
      <div class="col card me-3 p-0" style="max-width:340px;max-height: 440px;">
        <%= image_tag 'blue_tint_buffet_template.jpg', class: "card-img-top", alt: "Imagem logo do Buffet"  %>

        <div class="card-body">
          <%= link_to buffet.trading_name, buffet_path(buffet.id),
          class: "link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" 
          %>
          <p><%= buffet.city %> - <%= buffet.state %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
