<h1 class="mt-5">Detalhes do Buffet 
  <strong class="text-purper">
    <%= @buffet.trading_name %>
  </strong>
</h1>

<div class="container mt-5 mb-5" style="width:60%;">

  <section class="row mb-5" id="info">
    <div class="col me-5">
      <%= image_tag "blue_tint_buffet_template.jpg",
          id: "buffet-image",
          class: "card-img-top rounded",
          style: "width:400px;height:300px;",
          alt: "Imagem do Buffet #{@buffet.trading_name}" 
      %>
    </div>

    <div class="col d-flex flex-column justify-content-center align-items-center">
      <p class="text-description"><%= @buffet.description %></p>
      <p class="align-self-start">
        <strong class="text-darker-gray">cnpj da empresa: </strong>
        <%= @buffet.registration_number %>
      </p>
      <section class="align-self-start mb-5" id="payments">
        <p><strong class="text-darker-gray">Formas de pagamento aceitas</strong></p>
        <% @buffet.payment_methods.each do |method| %>
          <%= method.name %>
        <% end %>
      </section>     
    </div>     
  </section>

  <section class="mb-5" id="contact">
    <h3>Formas de Contato</h3>
    <p>Telefone: <%= @buffet.phone %></p>
    <p>E-mail: <%= @buffet.email %></p>
  </section>  

  <section class="mb-5" id="localization">
    <h3>Localização do Buffet</h3>
    <p><%= @buffet.address %></p>
    <p><%= @buffet.city %> - <%= @buffet.state %></p>
    <p>Bairro: <%= @buffet.neighborhood %></p>
    <p>CEP: <%= @buffet.zipcode %></p>
  </section>

  <section class="mb-5" id="events">
    <h3>Eventos disponíveis no Buffet</h3>

    <% @buffet.events.each do |event| %>
      <hr>
      <h4><strong><%= event.name %></strong></h4>
      <p><%= event.description %></p>
      <p>Quantidade mínima de pessoas: <%= event.qty_min %></p>
      <p>Quantidade máxima de pessoas: <%= event.qty_max %></p>
      <p>Duração do Evento: <%= event.duration %> (min)</p>
      <p>Cardápio Disponível: <%= event.menu %></p>
      <p>Localização do evento: 
        <%= event.exclusive_location == true ?
          'Exclusiva'
          :
          'A escolha do cliente'
        %>
      </p>
      <% event.base_prices.each do |base_price| %>
        <h5><%= t(base_price.chosen_category_day) %></h5>
        <p>Preço Mínimo: R$ <%= base_price.min_price %></p>
        <p>Taxa adicional por pessoa: R$ <%= base_price.extra_price_per_person %></p>
        <p>Taxa adicional por hora extra: R$ <%= base_price.extra_price_per_duration %></p>
      <% end %> 
    <% end %>
  </section>
</div>
