
<h1 class="mt-5">
  <%= t('show_details_buffet') %>
  <strong class="text-purper">
    <%= @buffet.trading_name %>
  </strong>
</h1> 

<div class="container mt-5">
  <%= link_to t('actions.back'), root_path, class: "btn btn-outline-highlight align-self-start" %> 
</div>

<div class="container mt-5 mb-5 d-flex flex-column" style="width:80%;">

  <section class="row mb-5 align-self-center" id="info" style="width:80%;">
    <div class="col me-5">
      <%= image_tag "blue_tint_buffet_template.jpg",
          id: "buffet-image",
          class: "card-img-top rounded",
          style: "width:400px;height:300px;",
          alt: "Imagem do Buffet #{@buffet.trading_name}" 
      %>

      <section id="rating" class="mt-2 ms-2 d-flex">
        <div>
          <strong>Nota:</strong>
          <span>
            <% if @average_rating.is_a?(Numeric) %>
              <%= @average_rating.round(1) %>
            <% else %>
              <%= @average_rating %>
            <% end %>
          </span>

          <% if @average_rating.is_a?(Numeric) %>
            <% (@average_rating).floor.times do %>
              ⭐
            <% end %>
          <% end %>
        </div>

        <a class="ms-3 link-warning link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#reviews" alt="reviews">
          <span class="fw-semibold me-2">
            <%= @total_reviews %>
          </span>
          <small class="text-body-secondary">
            <%= OrderEvaluation.model_name.human(count: @total_reviews) %>
          </small>
        </a>
      </section>
    </div>

    <div class="col d-flex flex-column justify-content-center align-items-center">

      <p class="text-description">
        <%= @buffet.description %>
      </p>

      <p class="align-self-start">
        <strong class="text-darker-gray">
        <%= t('company_register_number') %>: 
        </strong>
        <%= @buffet.registration_number %>
      </p>

      <section class="align-self-start" id="payments">
        <p>
          <strong class="text-darker-gray">
            <%= t('accepted_payments') %>
          </strong>
        </p>
        <% @buffet.payment_methods.each do |method| %>
          <em>
            * <%= method.name %>
          </em><br>
        <% end %>
      </section>     
    </div>
  </section>

  <section class="mb-5" id="contact">
    <h3><%= t('contact_details') %></h3>
    <p>
      <strong>
        <%= Buffet.human_attribute_name(:phone) %>:
      </strong>
      <%= @buffet.phone %>
    </p>

    <p>
      <strong>
        <%= Buffet.human_attribute_name(:email) %>:
      </strong>
      <%= @buffet.email %>
    </p>
  </section>  

  <section class="mb-5" id="localization">
    <h3>
      <%= t('buffet_locale') %>
    </h3>

    <p>
      <%= @buffet.address %>
    </p>

    <p>
      <%= @buffet.city %> - <%= @buffet.state %>
    </p>

    <p>
      <strong>
        <%= Buffet.human_attribute_name(:neighborhood) %>:
      </strong>
      <%= @buffet.neighborhood %>
    </p>

    <p>
      <strong>
        <%= Buffet.human_attribute_name(:zipcode) %>:
      </strong>
      <%= @buffet.zipcode %>
    </p>
  </section>

  <section class="mb-5" id="events">
    <h3><%= t('events_availables_for_clients') %></h3>

    <%= render 'events_cards' %>
  </section>

  <%= render 'order_evaluations/reviews' %>

  <% if @have_more_reviews %>
    <%= link_to 'Ver mais avaliações', order_evaluations_path(buffet_id: @buffet.id), class: "mt-3 link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
  <% end %>  
</div>
