
<h1 class="mt-5">
  <%= t('show_details_buffet') %>
  <strong class="text-purper">
    <%= @buffet.trading_name %>
  </strong>
</h1> 

<div class="container mt-5">
  <%= link_to t('actions.back'), root_path, class: "btn btn-outline-highlight align-self-start" %> 
</div>

<div class="container mt-5 mb-5" style="width:60%;">

  <section class="row mb-5" id="info">
    <div class="col me-5">
      <%= image_tag "blue_tint_buffet_template.jpg",
          id: "buffet-image",
          class: "card-img-top rounded",
          style: "width:400px;height:300px;",
          alt: "Imagem do Buffet #{@buffet.trading_name}" 
      %>
    </div>

    <div class="col d-flex flex-column justify-content-center align-items-center">

      <p class="text-description">
        <%= @buffet.description %>
      </p>

      <p class="align-self-start">
        <strong class="text-darker-gray">
        <%= t('company_register_number') %>: 
        </strong>
        <%= @buffet.registration_number %>
      </p>

      <section class="align-self-start mb-5" id="payments">
        <p>
          <strong class="text-darker-gray">
            <%= t('accepted_payments') %>
          </strong>
        </p>
        <% @buffet.payment_methods.each do |method| %>
          <%= method.name %>
        <% end %>
      </section>     
    </div>
  </section>

  <section class="mb-5" id="contact">
    <h3><%= t('contact_details') %></h3>
    <p>
      <%= Buffet.human_attribute_name(:phone) %>:
      <%= @buffet.phone %>
    </p>

    <p>
      <%= Buffet.human_attribute_name(:email) %>:
      <%= @buffet.email %>
    </p>
  </section>  

  <section class="mb-5" id="localization">
    <h3>
      <%= t('buffet_locale') %>
    </h3>

    <p>
      <%= @buffet.address %>
    </p>

    <p>
      <%= @buffet.city %> - <%= @buffet.state %>
    </p>

    <p>
      <%= Buffet.human_attribute_name(:neighborhood) %>:
      <%= @buffet.neighborhood %>
    </p>

    <p>
      <%= Buffet.human_attribute_name(:zipcode) %>:
      <%= @buffet.zipcode %>
    </p>
  </section>

  <section class="mb-5" id="events">
    <h3><%= t('events_availables_for_clients') %></h3>

    <%= render 'events_cards' %>
  </section>
</div>
