
<div class="container text-center mt-5" style="width: 70%;">

  <h1 class="mb-5 mt-2">Encontre o <span class="text-purper">Buffet</span> ideal para o seu Evento</h1>

  <div class="search-input rounded-pill d-flex justify-content-center align-items-center mt-3 mb-5 bg-body-tertiary" id="fake_input" style="padding:8px">
    <span class="material-symbols-outlined ms-2">search</span>
    <%= form_with url: search_buffets_path, method: :get, class: 'w-100' do |f| %>
      <%= f.text_field :query, id: 'search_buffet_input', placeholder: 'Pesquise o buffet ideal pra você', class: "rounded form-control border-0 bg-body-tertiary" %>
      <%= f.submit 'Pesquisar', class: "d-none" %>
    <% end %>
  </div>

  <div class="row mb-5">
    <% @buffets.each do |buffet| %>
      <div class="col card me-3 p-0">
        <%= image_tag 'blue_tint_buffet_template.jpg', class: "card-img-top", alt: "Imagem logo do Buffet"  %>

        <div class="card-body">
          <%= link_to buffet.trading_name, buffet_path(buffet.id),
          class: "link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" 
          %>
          <p><%= buffet.city %> - <%= buffet.state %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
