<% if @event.errors.any? %>
  <p>Verifique os erros abaixo</p>

  <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @event do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :qty_min %>
    <%= f.number_field :qty_min %>
  </div>  

  <div>
    <%= f.label :qty_max %>
    <%= f.number_field :qty_max %>
  </div>  

  <div>
    <%= f.label :duration %>
    <%= f.number_field :duration %>
  </div>   
  
  <div>
    <%= f.label :menu %>
    <%= f.text_area :menu %>
  </div>

  <div>
    <p>Seu Buffet oferece algum dos serviços abaixo: (marque as opções desejadas)</p>
    <%= f.label :service_options%>:

    <% if @service_options.present? %>
      <%= f.collection_check_boxes :service_option_ids, @service_options, :id, :name %>
    <% end %>
  </div>   

  <div>
    <%= f.submit t('helpers.submit.submit') %>
  </div>

<% end %>
