<%= form_with model: @event, class: "row" do |f| %>
  <div class="col-md-4 offset-md-4">
    <%= f.label :photos, class: "form-label mt-3" %>
    <%= f.file_field :photos, multiple: true, class: "form-control" %>
  </div>

  <div class="col-md-4 offset-md-4">
    <%= f.label :name, class: "form-label mt-3" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="col-md-4 offset-md-4">
    <%= f.label :description, class: "form-label mt-3" %>
    <%= f.text_area :description, size: "70x5", class: "form-control" %>
  </div>

  <div class="col-md-4 offset-md-4">
    <%= f.label :qty_min, class: "form-label mt-3" %>
    <%= f.number_field :qty_min, class: "form-control" %>
  </div>  

  <div class="col-md-4 offset-md-4">
    <%= f.label :qty_max, class: "form-label mt-3" %>
    <%= f.number_field :qty_max, class: "form-control" %>
  </div>  

  <div class="col-md-4 offset-md-4">
    <%= f.label :duration, class: "form-label mt-3" %>
    <%= f.number_field :duration, class: "form-control" %>
  </div>   
  
  <div class="col-md-4 offset-md-4">
    <%= f.label :menu, class: "form-label mt-3" %>
    <%= f.text_area :menu, size: "70x5", class: "form-control" %>
  </div>

  <div class="col-md-4 offset-md-4 mt-3 mb-3">
    <%= f.label :exclusive_location, class: "form-check-label" %>
    <%= f.check_box :exclusive_location, class: "form-check-input" %>
  </div>

  <div class="col-md-4 offset-md-4">
    <p>
      <strong>
        <%= t('services_provided') %>
        <br/>
        <%= t('choosed_options') %>
      </strong>
    </p>
    <%= f.label :service_options, class: "mb-2" %>:

    <% if @service_options.present? %>
      <%= f.collection_check_boxes :service_option_ids, @service_options, :id, :name do |cb| %>
        <div>
          <%= cb.check_box(class: "form-check-input me-2") %>
          <%= cb.label(class: "form-check-label") %>           
        </div>         
      <% end %>      
    <% end %>
  </div>   

  <div class="col-4 offset-md-4">
    <%= f.submit class: "btn btn-highlight mt-3 mb-5" %>
  </div>

<% end %>
