<h1><%= @event.name %></h1>

<%= link_to 'Editar', edit_event_path(@event.id) %>

<% if @event.event_base_prices.length < 2 %>
  <%= link_to 'Adicionar Novo Preço Base', new_event_base_price_path(@event.id) %>
<% end %>

<div>
    <p>Descrição: <%= @event.description %></p>
    <p>Quantidade mínima de pessoas: <%= @event.qty_min %></p>
    <p>Quantidade máxima de pessoas: <%= @event.qty_max %></p>
    <p>Duração Padrão: <%= @event.duration %>(min)</p>
    <p>Cardápio: <%= @event.menu %></p>
    <p>Localização do Evento Exclusiva: <%= @event.exclusive_location == true ? 'Sim' : 'Não' %> </p>

    <h4>Opções Extras do Serviço:</h4>
    <% @event.service_options.each do |option| %>
      <p><%= option.name %></p>
    <% end %> 
    <hr> 
</div>

<h3>Detalhes do Preço Base</h3>

<% @event.event_base_prices.each do |base_price| %>
  <p><%= link_to t(base_price.chosen_category_day), event_base_price_path(@event.id) %> </p>
  <p>R$ <%= base_price.min_price %> (para <%= @event.qty_min %> convidados)</p>
<% end %>
