<h1><%= @event.name %></h1>

<%= link_to 'Editar', edit_event_path(@event.id) %>

<%= link_to 'Adicionar Novo Preço Base', new_base_price_path %>

<div>
    <p>Descrição: <%= @event.description %></p>
    <p>Quantidade mínima de pessoas: <%= @event.qty_min %></p>
    <p>Quantidade máxima de pessoas: <%= @event.qty_max %></p>
    <p>Duração Padrão: <%= @event.duration %>(min)</p>
    <p>Cardápio: <%= @event.menu %></p>
    <p>Localização do Evento Exclusiva: <%= @event.exclusive_location == true ? 'Sim' : 'Não' %> </p>

    <h4>Opções Extras do Serviço:</h4>
    <% @event.service_options.each do |option| %>
      <p><%= option.name %></p>
    <% end %> 
    <hr> 
</div>
