
<div class="container mt-5">
  <% if buffet_owner_signed_in? %>
    <%= link_to t('actions.back'), owner_dashboard_path, class: "btn btn-outline-highlight align-self-start" %>
    <%= link_to t('actions.edit'), edit_event_path(@event.id), class: "btn btn-outline-highlight align-self-start" %>
    <div class="d-inline">
      <% if @event.status == 'active' %>
        <%= button_to 'Desativar Evento', deactivate_event_path(@event.id), class: 'btn btn-outline-warning' %>
      <% else %>
        <%= button_to 'Ativar Evento', activate_event_path(@event.id), class: 'btn btn-outline-warning' %>
      <% end %>      
    </div>
    <%= link_to 'Cadastrar Multa', new_event_penalty_path(@event.id), class: "btn btn-outline-highlight align-self-start" %>  

    <% if @event.base_prices.length < 2 %>
      <%= link_to t('adds_new_base_price'), new_event_base_price_path(@event.id), class: "btn btn-outline-highlight align-self-start" %>
    <% end %>
  <% else %>
    <%= link_to t('actions.back'), buffet_path(@event.buffet_id), class: "btn btn-outline-highlight align-self-start" %>

    <% if client_signed_in? %>
      <%= link_to t('makes_order'), new_event_order_path(@event.id), class: "btn btn-outline-highlight align-self-start" %>
    <% end %>
  <% end %>
</div>

<h1 class="mt-5">
  <%= t('event_details') %>
  <%= @event.name %>
</h1>

<div class="container mt-5">
  <div class="d-flex flex-column flex-lg-row align-items-center justify-content-evenly">
    <% if @event.photos.attached? %>

    <div id="events-photos-carousel" class="carousel slide" style="width:500px;height:500px;" data-bs-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= 
            image_tag @event.photos[0], 
            class: "d-block rounded", 
            alt: "Foto do Evento #{@event.name} - #{1}", 
            style:"width:500px;height:500px"
          %>
        </div>

          <% (1...@event.photos.length).each do |i| %>
            <div class="carousel-item">
              <%= 
                image_tag @event.photos[i], 
                class: "d-block", 
                alt: "Foto do Evento #{@event.name} - #{i + 1}", 
                style:"width:500px;height:500px" 
              %>
            </div>
          <% end %>
      </div>      

      <button class="carousel-control-prev" type="button" data-bs-target="#events-photos-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#events-photos-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <% else %>
      <%= 
        image_tag "blue_tint_buffet_template.jpg", 
        class: "card-img-top", 
        alt: "Foto do Evento #{@event.name}", 
        style:"width:400px;height:400px" 
      %>
    <% end %>

    <div class="col-md-4 mt-5">
      <p>
        <strong>
          <%= Event.human_attribute_name(:description) %>: 
        </strong>
        <%= @event.description %>
      </p>

      <p>
        <strong>
          <%= Event.human_attribute_name(:qty_min) %>: 
        </strong>
        <%= @event.qty_min %>
      </p>

      <p>
        <strong>
          <%= Event.human_attribute_name(:qty_max) %>:
        </strong>
        <%= @event.qty_max %>
      </p>

      <p>
        <strong>
          <%= Event.human_attribute_name(:duration) %>: 
        </strong>
        <%= @event.duration %> (min)
      </p>

      <p>
        <strong>
          <%= Event.human_attribute_name(:menu) %>: 
        </strong>
        <%= @event.menu %>
      </p>

      <p>
        <strong>
          <%= Event.human_attribute_name(:exclusive_location) %>:
        </strong>
        <%= @event.exclusive_location == true ?
          t('exclusive_location')
          :
          t('non_exclusive_location')
        %>
      </p>

      <p>
        <strong>
          <%= t('extra_services') %>:
        </strong>
      </p>
      <% @event.service_options.each do |option| %>
        <p>
          <%= option.name %>
        </p>
      <% end %>

    </div> 
  </div>
</div>

<div class="row mb-5 mt-5">
  <h3 class="text-center mb-5"><%= t('base_price_details') %></h3>

  <% if @event.base_prices.present? %>
    <% @event.base_prices.each do |base_price| %>
      <section id="<%= base_price.chosen_category_day %>" class="col card p-5 w-50 me-2">
        <% if buffet_owner_signed_in? %>
          <p>
            <%= 
              link_to t(base_price.chosen_category_day), 
              base_price_path(event_id: @event.id, 
              id: base_price.id), 
              class:"link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" 
            %> 
          </p>
        <% else %>
          <h5 class="mb-3">
            <%= t(base_price.chosen_category_day) %>
          </h5>
        <% end %>

        <%= render 'base_prices/base_price', base_price: base_price %>     
      </section>
    <% end %>
  <% else %>
    <p class="text-center">
      <%= t('zero_base_prices') %>
    </p>
  <% end %>  
</div>

<div class="row mb-5 mt-5">
  <h3 class="text-center mb-5"><%= Penalty.model_name.human(count: 2) %></h3>

  <% if @event.penalties.present? %>
    <% @event.penalties.each do |penalty| %>
      <p>
        <strong>
          <%= Penalty.human_attribute_name(:days_ago) %>:
        </strong>
        <%= penalty.days_ago %> dias
      </p>

      <p>
        <strong>
          <%= Penalty.human_attribute_name(:value_percentage) %>:
        </strong>      
        <%= penalty.value_percentage %>%
      </p>      
    <% end %>
  <% end %>
</div>

