<%= form_with model: [@event, @order], class: "row" do |f| %>
  <div class="col-md-4 offset-md-4">
    <%= f.label :event_date, class: "form-label mt-3" %>
    <%= f.date_field :event_date, class: "form-control" %>
  </div>

  <div class="col-md-4 offset-md-4">
    <%= f.label :qty_invited, class: "form-label mt-3" %>
    <%= f.number_field :qty_invited, class: "form-control" %>
  </div>

  <div class="col-md-4 offset-md-4">
    <%= f.label :event_details, class: "form-label mt-3" %>
    <%= f.text_area :event_details, class: "form-control" %>
  </div>

  <% unless @event.exclusive_location %>
    <div class="col-md-4 offset-md-4">
      <%= f.label :event_address, class: "form-label mt-3" %>
      <%= f.text_field :event_address, class: "form-control" %>
    </div>  
  <% end %>

  <div class="col-4 offset-md-4">
    <%= f.submit t('order_request'), class: "btn btn-highlight mt-3 mb-5" %>
  </div>
<% end %>
