<%# Informe os detalhes específicos para realização do seu evento %>
<%# Endereço desejado para realizacão do evento (Opcional) %>
<%# Data para realização do Evento %>

<h1><%= t('order_details') %> #<%= @order.code %></h1>

<% if buffet_owner_signed_in? %>
  <% if @same_date_orders.present? %>
    <div class="alert alert-warning" role="alert">
      Você possui um evento confirmado para essa data (<%= I18n.l(@order.event_date) %>): 
      <% @same_date_orders.each do |same_date_order| %>
        <%= link_to "##{same_date_order.code}", order_path(same_date_order.id) %>
      <% end %>!
    </div>
  <% end %>
<% end %>

<div>
  <p><%= t('buffet_order') %>: <%= @order.buffet.trading_name %></p>
  <p><%= t('event_type') %>: <%= @order.event.name %></p>
  <p><%= Order.human_attribute_name(:event_date) %>: <%= I18n.l(@order.event_date) %></p>
  <p><%= Order.human_attribute_name(:qty_invited) %>: <%= @order.qty_invited %></p>
  <p><%= Order.human_attribute_name(:event_details) %>: <%= @order.event_details %></p>
  <p><%= t('address') %>: <%= @order.event_address.present? ? @order.event_address : t('exclusive_location') %></p>
  <p><%= Order.human_attribute_name(:status) %>: <%= t(@order.status) %></p>
</div>

<% unless @order.confirmed? %>
  <% if buffet_owner_signed_in? %>
    <h3>Aprove o Pedido preenchendo os campos, abaixo:</h3>
    
    <p>
      <strong>
        Cálculo automático
      </strong>
      <small>(baseado no preço base e na quantidade de convidados):</small> 
      <%= number_to_currency(@order.order_payment.present? ? @order_payment.standard_price : @event_standard_price) %>
    </p>

    <%= form_with model: [@order, @order_payment] do |f| %>
      <div>
        <%= f.label :extra_tax, 'Taxa extra (se aplicável)' %>
        <%= f.number_field :extra_tax %>
      </div>

      <div>
        <%= f.label :discount, 'Desconto (se aplicável)' %>
        <%= f.number_field :discount %>
      </div>

      <div>
        <%= f.label :description, 'Descrição (opcional)' %>
        <%= f.text_area :description %>
      </div>

      <div>
        <%= f.label :validity_date, 'Data de validade do valor' %>
        <%= f.date_field :validity_date %>
      </div>     

      <div>
        <%= f.label :payment_method_id, 'Forma de Pagamento' %>
        <%= f.collection_select :payment_method_id, @payment_methods, :id, :name %>
      </div>

      <div>
        <%= f.hidden_field :standard_price, 
            value: @order.order_payment.present? ? @order_payment.standard_price : @event_standard_price
        %>
      </div>

      <%= f.submit 'Aprovar Pedido' %> 
    <% end %>
  <% end %>
<% end %>

<% if @order.order_payment.present? %>
  <h5>Cálculo do Valor Final do Pedido</h5>
  <div id="event_pricing">
    <hr>
    <p>
      <strong>
        Cálculo automático
      </strong>
      <small>(baseado no preço base e na quantidade de convidados)</small>
    </p>
    <p>Preço Padrão: <%= number_to_currency(@order_payment.standard_price) %></p>
    <hr>
    <p><strong>+ Taxa Extra:</strong> <%= number_to_currency(@order_payment.extra_tax) %></p>
    <p><strong>- Desconto:</strong> <%= number_to_currency(@order_payment.discount) %></p>
    <hr>
    <p><strong>Valor final do pedido:</strong> 
      <%= number_to_currency(@order_payment.standard_price + @order_payment.extra_tax - @order_payment.discount)%>
    </p>

    <p>Descrição: <%= @order_payment.description %></p>
    <p>Data de validade do valor: <%= I18n.l(@order_payment.validity_date) %></p>
    <p>Forma de Pagamento: <%= @order_payment.payment_method.name %></p>

    <% if client_signed_in? %>
      <% unless @order.confirmed? %>
        <%= button_to 'Confirmar Pedido', confirmed_order_path(@order.id) %>
        <%= button_to 'Cancelar Pedido', canceled_order_path(@order.id) %>
      <% end %>
    <% end %>
  </div>
<% end %>
