<%# Informe os detalhes específicos para realização do seu evento %>
<%# Endereço desejado para realizacão do evento (Opcional) %>
<%# Data para realização do Evento %>

<h1><%= t('order_details') %> #<%= @order.code %></h1>

<% if buffet_owner_signed_in? %>
  <% if @same_date_orders.present? %>
    <div class="alert alert-warning" role="alert">
      Você possui um evento confirmado para essa data (<%= I18n.l(@order.event_date) %>): 
      <% @same_date_orders.each do |same_date_order| %>
        <%= link_to "##{same_date_order.code}", order_path(same_date_order.id) %>
      <% end %>!
    </div>
  <% end %>
<% end %>

<div>
  <p><%= t('buffet_order') %>: <%= @order.buffet.trading_name %></p>
  <p><%= t('event_type') %>: <%= @order.event.name %></p>
  <p><%= Order.human_attribute_name(:event_date) %>: <%= I18n.l(@order.event_date) %></p>
  <p><%= Order.human_attribute_name(:qty_invited) %>: <%= @order.qty_invited %></p>
  <p><%= Order.human_attribute_name(:event_details) %>: <%= @order.event_details %></p>
  <p><%= t('address') %>: <%= @order.event_address.present? ? @order.event_address : t('exclusive_location') %></p>
  <p><%= Order.human_attribute_name(:status) %>: <%= t(@order.status) %></p>
</div>
