<%= form_with model: [@event, @base_price], class: "row" do |f| %>
  <div class="col-md-4 offset-md-4 d-flex mt-3">
    <%= f.radio_button :chosen_category_day, 'weekdays', type: "radio", class: "form-check btn-check", id: "base_price_chosen_category_day_weekdays", checked: true  %>
    <%= f.label :chosen_category_day_weekdays, class: "btn", for: "base_price_chosen_category_day_weekdays" %>

    <%= f.radio_button :chosen_category_day, 'weekend', type: "radio", class: "form-check btn-check", id: "base_price_chosen_category_day_weekend" %>
    <%= f.label :chosen_category_day_weekend, class: "btn", for: "base_price_chosen_category_day_weekend" %>    
  </div>

  <div class="col-md-4 offset-md-4">
    <%= f.label :min_price, class: "form-label mt-3" %>
    <%= f.number_field :min_price, step: 0.01, class: "form-control" %>
  </div>  

  <div class="col-md-4 offset-md-4">
    <%= f.label :extra_price_per_person, class: "form-label mt-3" %>
    <%= f.number_field :extra_price_per_person, step: 0.01, class: "form-control" %>
  </div>  

  <div class="col-md-4 offset-md-4">
    <%= f.label :extra_price_per_duration, class: "form-label mt-3" %>
    <%= f.number_field :extra_price_per_duration, step: 0.01, class: "form-control" %>
  </div>   

  <div class="col-md-4 offset-md-4">
    <%= f.submit t('helpers.submit.submit'), class: "btn btn-highlight mt-3 mb-5"  %>
  </div> 
<% end %>
